@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
html {
  @apply scroll-smooth;
}
body {
  font-family: 'Inter', sans-serif;
}

@layer components {
  .form-demografi {
    @apply columns-1 gap-2 md:columns-2;

    .form-item {
      @apply h-max mb-2 break-inside-avoid;

      .input-form {
        @apply grid grid-cols-1 sm:grid-cols-3 gap-5 pt-4;

        .input-border {
          @apply flex-grow p-1 flex border-[1px] border-slate-400 rounded-lg;
        }
      }
    }
  }

  .error-input {
    @apply border-red-500 placeholder:text-red-500/50;
  }

  .success-input {
    @apply border-green-500 placeholder:text-green-500/50;
  }

  .input {
    @apply block outline-none w-full border rounded py-1 px-2 sm:text-base text-xs;
  }

  .card {
    @apply border rounded shadow-md;
    .card-header {
      @apply border-b px-4 py-2 bg-slate-100/50 font-bold;
    }
    .card-body {
      @apply p-4 text-sm sm:text-base;
    }
  }

  .cols-2 {
    @apply sm:columns-2 columns-1 gap-1;
    .cols-item {
      @apply break-inside-avoid p-2 block;
    }
  }

  .open-modal {
    @apply overflow-y-hidden;
  }

  .bg-gradient-green {
    @apply bg-gradient-to-tr from-green-400 to-green-400/20;
  }

  .bg-gradient-green-reverse {
    @apply bg-gradient-to-bl from-green-400 to-green-400/20;
  }

  .bg-gradient-blue {
    @apply bg-gradient-to-tr from-blue-400 to-blue-400/20;
  }

  .bg-gradient-red {
    @apply bg-gradient-to-tr from-red-400 to-red-400/20;
  }

  .bg-gradient-yellow {
    @apply bg-gradient-to-tr from-yellow-400 to-yellow-400/20;
  }

  .rdt_TableRow {
    @apply py-1;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-green-500;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-green-700;
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ripple div {
    @apply border-[4px] border-green-500;
    position: absolute;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }

    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}
